
div.modal-simple{
    width: 100vw;
    height: 100vh;
    background-color: #383838;
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal-simple div.container-modal-simple{
    width: 35%;
    height: 50%;
    border-radius: 8px;
    background-color: white;
    padding: 8px 6px 12px 18px;
    box-shadow: 0px 0px 2px #999;
}

div.modal-simple div.container-modal-simple header{
    display: flex;
    align-items: center;
    height: 10%;
}

div.modal-simple div.container-modal-simple main{
    height: 75%;
    padding: 12px 8px;
}

div.modal-simple div.container-modal-simple footer{
    display: flex;
    height: 15%;
}

div.modal-simple div.container-modal-simple header h3{
    width: 90%;
}

div.modal-simple div.container-modal-simple header div.close-modal{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14pt;
    font-weight: 700;
    cursor: pointer;
}

div.modal-simple div.container-modal-simple header div.close-modal span:hover{
    background-color: rgba(255, 0, 0, 0.364);
    color: rgb(63, 62, 62);
}

div.modal-simple div.container-modal-simple header div.close-modal span{
    padding: 0 6px;
    border-radius: 90px;
    background-color: transparent;
    color: #383838;
    transition: background-color .4s ease;
    transition-property: background-color, color;
}

div.list-simple{
    width: 100%;
}